.search-wrapper {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.search-box {
  background: rgba(0, 57, 126, 0.356);
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); */
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 380px;
  color: white;
}

.search-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.search-box input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-box button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: rgba(0, 57, 126, 0.743);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.search-box button:hover {
  background: #2563eb;
}
